.posterdash {
  display: block;
  width: 150px;
  height: auto;
  margin: 10px auto;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.movie-listdash {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 0;
}

.movie-itemdash {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 1rem;
}

.movie-posterdash img {
  max-width: 100px;
  border-radius: 4px;
}

.movie-detailsdash p {
  margin: 0.2rem 0;
}
.delete-linkdash {
  color: red;
  font-size: 1.5rem;
  cursor: pointer;
  text-decoration: none;
}

.delete-linkdash:hover {
  color: darkred;
}
