
body {
	background-color: #5D0E41;
	color: #FF204E;
	margin: 0;
	padding: 0;
	height: 100%;
}

.container-show {
	display:grid;
	grid-template-columns: 1fr 1fr;
	gap: 16px;
	margin: 50px 50px;
	background-color: #5D0E41;
	color: #FF204E;
	text-shadow: 0 0 60px #00224D;
	padding: 15px;
	border-radius: 5px;
	position:relative;
	z-index: 10;
}

.movie-poster {
	margin-top: 25px;
	margin-left: 10px;
	margin-bottom: 25px;
	border-radius: 5px;
	border-style: solid;
	border-color: #FF204E;
	height: 100vh;
	width: 100%;
}

.poster {
	object-fit:cover;
	object-position: center;
	height: 100%;
	width: 100%;
}

.infos {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.movie-infos {
	margin-top: 25px;
	margin-right: 10px;
	margin-bottom: 25px;
	border-radius: 5px;
	border-style: solid;
	border-color: #FF204E;
	padding: 20px;
	text-align: center;
}

.owner-infos {
	margin-top: 25px;
	margin-right: 10px;
	margin-bottom: 25px;
	border-radius: 5px;
	border-style: solid;
	border-color: #FF204E;
	padding: 20px;
}

.movie-title {
	display: inline-block;
	text-align: center;
	background-color: #00224D;
	color: #FF204E;
	padding: 7px 7px;
	border-radius: 7px;
}

.year-genre {
	display: flex;
	justify-content: space-between;
}

.movie-crew {
	display: flex;
	justify-content: space-between;
}

i {
	color:yellow;
	animation-name: rotation_rating;
	animation-timing-function: ease-in-out;
	animation-duration: 1.7s;
	animation-iteration-count: 1;

	@keyframes rotation_rating {
		0% {
		  transform: rotate(-180deg);
		  transform: scale(1);
		}
		50% {
		  transform: rotate(180deg);
		  transform: scale(1.7);
		}
		100% {
		  transform: rotate(-180deg);
		  transform: scale(1);
		}
	}
}

.quotation {
	color: #00224D;
}


.container-booking-form {
	background-color: #5D0E41;
	border-radius: 5px;
	border-style: solid;
	border-color: #FF204E;
	color: #FF204E;
}

.form-booking {
	color: #FF204E
}

p {
	font-size: 18px;
}

strong {
	color: #00224D;
}

.button {
	background-color: #00224D;
	border-radius: 5px;
	border-style: solid;
	border-color: #FF204E;
	color: #FF204E;
	font-size: 25px;
	padding: 5px 15px;
	text-align: center;
	text-decoration: none;
	transition: all 0.3s ease-out;
}

.button:hover {
	background-color: #FF204E;
	border-color: #00224D;
	color: #00224D;
}






.movie-button {
	display: flex;
	justify-content: center;
}


.movie-map {
	background-color: #5D0E41;
	border-radius: 5px;
	border-style: solid;
	border-color: #FF204E;
	color: #FF204E;
	display: flex;
	align-items: center;
}
