<div class="container">
  <h1>coucou</h1>
  <h2>My current reservations</h2>
  <ul>
    <% @bookings.each do |booking| %>
      <li>
        <p> Loca : <%= booking.date_start %></p>
        <p> Loca end : <%= booking.date_end %></p>
        <p>You can pick your movie there : <%= booking.pickup_place %></p>
        <p>Total price : <%= booking.total_price %></p>
      </li>
    <% end %>
  </ul>
</div>
