<div class="footer">
  <div class="footer-copyright">
    © 2024 VHS Vault, Inc. Confidentialité · Conditions générales · Plan du site Fonctionnement du site · Infos sur l'entreprise
  </div>
  <div class="footer-links">
    <a href="https://github.com/" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://x.com/" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
    <a href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
