
  <nav class="d-flex justify-content-between">
                <div class="menu-icon">
                    <i class="fa fa-bars fa-2x"></i>
                </div>
                <div class="logo">
                    <%= link_to "LOGO", root_path %>
                </div>
                <div class="menu">
                    <ul>
                      <li><%= link_to "Home", root_path %></li>
                      <li><a href="#">Renting out my VHS</a></li>
                      <li><a href="#"><i class="fas fa-user"></i></a></li>
                    </ul>
                </div>
  </nav>
<div class="place-for-nav"></div>
