.container-booking-form{
 display: flex;
 flex-direction: column;
 width: 35vw;
 border-radius: 8px;
 background-color: #f4e1d2;
 padding: 20px;
 box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
 font-family: 'Courier New', Courier, monospace;
 color: #333;
}
