<div class="navbar">
  <h1>NAVBAR A INTEGRER AVEC RENDER</h1>
</div>

<div class="container">
<%# faire un display grid de 2 colonnes %>

<div class="poster du film">
</div>

<div class=">
</div>


<div class="footer">
	<h1>FOOTER A INTEGRER AVEC RENDER</h1>
</div>
